@charset "UTF-8";


/* 인기 레시피 관련 */

.home-recipe-title {
	margin: 18px 0 10px 10px;
}

.hot-recipe-card {
	width: 100%;
	height: 50%;
	pointer: cursor;
}

.hot-recipe-card:hover {
	transform: scale(1.05);
	z-index: 100;
}

.hot-recipe-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.hot-recipe-title {
	color: #ffffff;
  /* -webkit-text-stroke: 1px #000;*/
}

.hot-recipe-tag {
	background: black;
	padding: 4px;
	border-radius: 5px;
	color: #ffffff;
}


/* 태그 관련 */

.main-tag-container {
	height: 40%;
}

.main-tag-grid {
	height: 29vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;	
	padding: 0 0.7vw 0.8vh 0.7vw;
}

.main-tag-card {
	border-radius: 10px;
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color: #ffffff;
	font-size: 1rem;
	font-weight: bold;
}

.main-tag-card:hover {
	opacity: 0.8;
	transform: scale(1.02);
	z-index: 100;
}

/* 태그 배경 이미지 (링크는 이미지 출처) */
.tag-1 {
	background-image: url(/ssgssag/resources/img/tag1.jpg);
	/* https://pixabay.com/images/id-1613680 */
	background-size: 120%;
	background-position:center;
	background-repeat: no-repeat
}

.tag-2 {
	background-image: url(/ssgssag/resources/img/tag2.jpg);
	/* https://pixabay.com/images/id-1584999 */
	background-size: 120%;
	background-position:center;
	background-repeat: no-repeat
}

.tag-3 {
	background-image: url(/ssgssag/resources/img/tag3.jpg);
	/* https://pixabay.com/images/id-2957809 */
	background-size: 120%;
	background-position:center;
	background-repeat: no-repeat
}

.tag-4 {
	background-image: url(/ssgssag/resources/img/tag4.jpg);
	/* https://pixabay.com/images/id-1835369 */
	background-size: 120%;
	background-position:center;
	background-repeat: no-repeat
}