@charset "UTF-8";

/* 전체 레이아웃 */
.main-background {
	width: 100%;
	height: 100vh;
	background: #554635;
	display: flex;
    flex-direction: row;
}

.pc-bg-left {
    width: 60%;
    visibility: visible;
}

.pc-bg-right {
    visibility: visible;
}

.main-container {
	background: #fffefd;
	width: 470px;
    height: 100vh;
}

/* 콘텐츠 들어갈 화면 레이아웃(모바일) */
.content-container {
	border: 1px solid yellow;
	width: 100%;
	height: 82vh;
	padding: 4px 8px;
}

.header{
	border: 1px solid red;
	width: 100%;
	height: 8vh;
	display: flex;
	flex-direction: row;
}

.ccenter-layout {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.rcenter-layout {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/* 1200px 이하 + 모바일 화면 레이아웃 */
@media screen and (max-width: 1200px) {
    .main-background {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .pc-bg-left {
        display: none;
    }

    .pc-bg-right {
        display: none;
    }
    
    .main-container {
        position: relative;
        min-width: 470px;
        height: 100vh;
    }
}