@charset "UTF-8";

a {
	text-decoration: none;
}

.main-background {
	width: 100%;
	height: 100vh;
	background: #554635;
}

.main-container {
	background: #fffefd;
	width: 35%;
	height: 100%;
	margin-left: 50%;
	border: 1px solid red;
}

.content-container {
	border: 1px solid yellow;
	width: 100%;
	height: 84%;
}

.header{
	border: 1px solid red;
	width: 100%;
	height: 8%;
	display: flex;
	flex-direction: row;
}

.menu {
	border: 1px solid red;
	width: 100%;
	height: 8vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.menu-btn {
	width: 20%;
	text-decoration: none;
	text-aling: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ccenter-layout {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}