<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shinsegae.ssgssag.recipe.mapper.CartMapper">	<!-- 인터페이스 -->

	<select id="getRefg" parameterType="String" resultType="String">
		SELECT ing_id FROM refrigerator WHERE USER_no = #{a}
	</select>
	
	<select id="getIngs" parameterType="String" resultType="com.shinsegae.ssgssag.recipe.vo.CartVO">
		SELECT ing_id, update_date FROM cart WHERE user_no = #{a}
	</select>

	<select id="getName" parameterType="String" resultType="String">
		SELECT ing_name FROM ingredients WHERE ing_id = #{a}
	</select>
	
	<select id="rcpIngs" parameterType="String" resultType="com.shinsegae.ssgssag.recipe.vo.CartVO">
		SELECT * FROM recipe_ing WHERE recipe_id = #{a}
	</select>
	
	<insert id="addIngs" parameterType="map">
		INSERT INTO cart (user_no, ing_id, update_date) VALUES (#{user_id}, #{ing_id}, #{date})
	</insert>
	
	<!-- 장바구니 삭제 -->
	<delete id="deleteCart" parameterType="map">
		DELETE FROM cart
		WHERE ing_id = #{ing_id}
		AND user_no = #{user_id}
	</delete>	
</mapper>