<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shinsegae.ssgssag.recipe.mapper.RecipeMapper">	<!-- 인터페이스 -->

<!-- 등록 -->
<insert id="recipeInsert" parameterType="com.shinsegae.ssgssag.recipe.vo.RecipeVO">
	INSERT INTO recipe (
		recipe_id
	) VALUES (
		#{recipe_id}
	)
</insert>

<!-- 조회 -->
<select id="selectList" resultType="com.shinsegae.ssgssag.recipe.vo.RecipeVO">
	SELECT r.recipe_id, <!-- <trim suffixOverrides=" "></trim> -->recipe_name, recipe_img, source, level, <!-- recipe_ing_info, -->
	IFNULL(COUNT(like_id), 0) AS cnt
	FROM recipe r
	LEFT OUTER JOIN like_recipe l
	ON r.recipe_id = l.recipe_id
	<!-- 검색 조건 -->
	<where>
		<!-- 전체 조회 -->
		<if test="type == 'all'">
			<if test="rname != '' and rname != null">
				AND recipe_name LIKE '%${rname}%'
				|| r.recipe_id IN (
					SELECT recipe_id
					FROM recipe_ing 
					WHERE ing_id IN (
						SELECT ing_id FROM ingredients WHERE ing_name LIKE '%${rname}%'
					)
				)
			</if>
		</if>
		<!-- 레시피 이름 조회 -->
		<if test="type == 'rcp'">
			<if test="rname != '' and rname != null">
				AND recipe_name LIKE '%${rname}%'
			</if>
		</if>
		<!-- 레시피 재료 조회 -->
		<if test="type == 'ing'">
			<if test="rname != '' and rname != null">
				AND r.recipe_id IN (
					SELECT recipe_id 
					FROM recipe_ing 
					WHERE ing_id IN (
						SELECT ing_id FROM ingredients WHERE ing_name LIKE '%${rname}%'
					)
				)

			</if>
		</if>
	</where>
	group by r.recipe_id
	<!-- 정렬 조건 -->
	<if test="sort != null and sort !=''"> ORDER BY
		<choose>
		    <when test="sort == 'name'"> recipe_name </when>
		    <when test="sort == 'level'"> level, recipe_name </when>
		    <when test="sort == 'like'"> cnt DESC, recipe_name </when>
	    </choose>
    </if>
</select>

<!-- 태그 조회 -->
<select id="selectCats" resultType="com.shinsegae.ssgssag.recipe.vo.RecipeVO">
	SELECT * FROM tag WHERE tag_category = #{cat}
</select>

<!-- 태그로 레시피 조회 -->
<select id="selectTags" resultType="com.shinsegae.ssgssag.recipe.vo.RecipeVO">
	SELECT tmp.recipe_id, tmp.recipe_name, tmp.recipe_img, tmp.level, t.tag_id, t.tag_name, tmp.cnt, tag_category
	FROM tag t, recipe_tag rt,
	(SELECT r.recipe_id, recipe_name, recipe_img, source, level,
	IFNULL(COUNT(like_id), 0) as cnt
	FROM recipe r
	LEFT OUTER JOIN like_recipe l
	ON r.recipe_id = l.recipe_id
	GROUP BY recipe_id) tmp
	WHERE tmp.recipe_id = rt.recipe_id and t.tag_id = rt.tag_id and rt.tag_id = #{tag_id}
	<!-- 정렬 조건 -->
	<if test="sort != null and sort !=''"> ORDER BY
		<choose>
		    <when test="sort == 'name'"> recipe_name </when>
		    <when test="sort == 'level'"> level, recipe_name </when>
		    <when test="sort == 'like'"> cnt DESC, recipe_name </when>
	    </choose>
    </if>
</select>

<select id="getIngs" resultType="com.shinsegae.ssgssag.recipe.vo.RecipeVO">
	SELECT * FROM ingredients WHERE ing_id IN (SELECT ing_id FROM recipe_ing WHERE recipe_id = #{recipe_id })
</select>

<!-- 레시피 단계 조회 -->
<select id="getSteps" resultType="com.shinsegae.ssgssag.recipe.vo.RecipeVO">
	SELECT * FROM recipe_step WHERE recipe_id = #{recipe_id }
</select>

<!-- 레시피 재료 상세 조회 -->
<select id="selectIngs" resultType="com.shinsegae.ssgssag.recipe.vo.RecipeVO">
	SELECT * FROM ingredients WHERE ing_id IN
	(SELECT ing_id FROM recipe_ing WHERE recipe_id = #{recipe_id })
</select>

<select id="rcp_page" resultType="com.shinsegae.ssgssag.recipe.vo.RecipeVO">
	SELECT r.recipe_id, recipe_name, recipe_img, source, level, <!-- recipe_ing_info, -->
	IFNULL(COUNT(like_id), 0) AS cnt
	FROM recipe r
	LEFT OUTER JOIN like_recipe l
	ON r.recipe_id = l.recipe_id
	<!-- 검색 조건 -->
	<where>
		<!-- 전체 조회 -->
		<if test="type == 'all'">
			<if test="rname != '' and rname != null">
				AND recipe_name LIKE '%${rname}%'
				|| r.recipe_id IN (
					SELECT recipe_id
					FROM recipe_ing 
					WHERE ing_id IN (
						SELECT ing_id FROM ingredients WHERE ing_name LIKE '%${rname}%'
					)
				)
			</if>
		</if>
		<!-- 레시피 이름 조회 -->
		<if test="type == 'rcp'">
			<if test="rname != '' and rname != null">
				AND recipe_name LIKE '%${rname}%'
			</if>
		</if>
		<!-- 레시피 재료 조회 -->
		<if test="type == 'ing'">
			<if test="rname != '' and rname != null">
				AND r.recipe_id IN (
					SELECT recipe_id 
					FROM recipe_ing 
					WHERE ing_id IN (
						SELECT ing_id FROM ingredients WHERE ing_name LIKE '%${rname}%'
					)
				)

			</if>
		</if>
	</where>
	group by r.recipe_id
	<!-- 정렬 조건 -->
	<if test="sort != null and sort !=''"> ORDER BY
		<choose>
		    <when test="sort == 'name'"> recipe_name </when>
		    <when test="sort == 'level'"> level, recipe_name </when>
		    <when test="sort == 'like'"> cnt DESC, recipe_name </when>
	    </choose>
    </if>
    limit #{start}, 5
</select>

<!-- 영양 성분 조회 -->
<select id="selectNut" resultType="com.shinsegae.ssgssag.recipe.vo.RecipeVO">
	SELECT recipe_id, recipe_name, info_car, info_pro, info_fat, 
		round(info_car/(info_car+info_pro+info_fat)*100,2) car,
		round(info_pro/(info_car+info_pro+info_fat)*100,2) pro,
		round(info_fat/(info_car+info_pro+info_fat)*100,2) fat
		FROM recipe tmp
		WHERE recipe_id = #{recipe_id }
</select>

</mapper>