<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shinsegae.ssgssag.recipe.mapper.RecipeLikeMapper">

<!-- 찜한 레시피인지 조회 -->
<select id="isRecipeLiked" parameterType="java.util.HashMap" resultType="com.shinsegae.ssgssag.recipe.vo.RecipeLikeVO">
	SELECT * FROM like_recipe
	WHERE user_no=${user_no} AND recipe_id=${recipe_id}
</select>

<!-- 레시피 찜 -->
<insert id="insertRecipeLike" parameterType="com.shinsegae.ssgssag.recipe.vo.RecipeLikeVO">
	INSERT INTO like_recipe(
		user_no, recipe_id
	)
	VALUES (
		#{user_no}, #{recipe_id}
	)
</insert>

<!-- 레시피 찜 취소 -->
<delete id="deleteRecipeLike" parameterType="com.shinsegae.ssgssag.recipe.vo.RecipeLikeVO">
	DELETE FROM like_recipe
	WHERE user_no=${user_no} AND recipe_id=${recipe_id}
</delete>

</mapper>