<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shinsegae.ssgssag.member.mapper.MemberMapper">

	<!-- 회원가입 관련 SQL -->
	<!-- 회원 등록 -->
	<insert id="joinMember" parameterType="com.shinsegae.ssgssag.member.vo.MemberVO">
		INSERT INTO user (
			id, password, name, nickname, reg_date, gender, birth_date
		)
		VALUES (
			#{id}, sha2(#{password}, 256), #{name}, #{nickname}, now(), #{gender}, #{birth_date}
		)
	</insert>
	
	<!-- 아이디 중복 확인 -->
	<select id="checkId" resultType="com.shinsegae.ssgssag.member.vo.MemberVO">
		SELECT id from user WHERE id = #{id}
	</select>
	
	<!-- 이름 중복 확인 -->
	<select id="checkName" resultType="com.shinsegae.ssgssag.member.vo.MemberVO">
		SELECT id from user WHERE id = #{name}
	</select>
	
	<!-- 닉네임 중복 확인 -->
	<select id="checkNickname" resultType="com.shinsegae.ssgssag.member.vo.MemberVO">
		SELECT id from user WHERE id = #{nickname}
	</select>
	
	<!-- 로그인 관련 SQL -->	
	<!-- 로그인 / 아이디 및 비밀번호 확인 -->
	<select id="existedMember" parameterType="com.shinsegae.ssgssag.member.vo.MemberVO" resultType="com.shinsegae.ssgssag.member.vo.MemberVO">
		SELECT * from user
		WHERE id = #{id} AND password = sha2(#{password}, 256)
	</select>
	
</mapper>
