<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shinsegae.ssgssag.member.mapper.MemberMapper">

	<!-- 존재하는 계정인지 확인 -->
	<select id="existedMember" resultType="com.shinsegae.ssgssag.member.vo.MemberVO">
		SELECT id, password from user
		WHERE id = #{check_id}
	</select>
	
	<!-- 비밀번호 확인 -->
	<select id="checkPwd" resultType="com.shinsegae.ssgssag.member.vo.MemberVO">
		SELECT id, password from user
		WHERE id = #{check_id} AND password = sha2(#{password}, 256)
	</select>
	
	<!-- 새로 회원가입 -->
	<insert id="joinMember" parameterType="com.shinsegae.ssgssag.member.vo.MemberVO">
		INSERT INTO user (
			id, password, name, nickname, reg_date, gender, birth_date
		)
		VALUES (
			#{id}, sha2(#{password}, 256), #{name}, #{nickname}, now(), #{gender}, #{birth_date}
		)
	</insert>
	
</mapper>
