<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shinsegae.ssgssag.member.mapper.MyMapper">
	
	<!-- 관심 있는 태그와 카테고리 조회 -->
	<select id="selectTags" resultType="com.shinsegae.ssgssag.member.vo.MyVO">
		SELECT t.tag_id, tag_name, category_name, category_id, like_tag_id, user_no
		FROM tag t, like_tag l, tag_category c
		WHERE t.tag_id = l.tag_id
		AND t.tag_category = c.category_id
		AND l.user_no = #{user_no}
	</select>
	
	<select id="getName" resultType="java.lang.String" parameterType="int">
		SELECT tag_name FROM tag WHERE tag_id = #{tag_id}
	</select>
	
	<select id="getId" resultType="java.lang.String" parameterType="java.lang.String">
		SELECT tag_id FROM tag WHERE tag_name = #{a}
	</select>

	<!-- 관심 태그 삭제 -->
	<delete id="deleteTag" parameterType="int">
		DELETE FROM like_tag WHERE like_tag_id = #{a}
	</delete>	
	
	<select id="tagCheck" resultType="java.lang.String" parameterType="java.lang.String">
		SELECT COUNT(*) FROM tag WHERE tag_name = #{a}
	</select>
	
	<!-- 이미 존재하는 태그인지 확인 -->
	<select id="isContain" resultType="java.lang.String" parameterType="map">
		SELECT COUNT(*)
		FROM like_tag
		WHERE user_no = #{user_no}
		AND tag_id = #{tag_id }
	</select>
	
	<!-- 새로운 관심 태그 추가 -->
	<insert id="addTag" parameterType="map">
		INSERT INTO like_tag (user_no, tag_id)
		VALUES (#{user_no}, #{tag_id})
	</insert>
	
	<!-- 회원 정보 조회 -->
	<select id="selectUsers" resultType="com.shinsegae.ssgssag.member.vo.MyVO">
		SELECT *
		FROM user
		WHERE user_no = #{user_no}
	</select>
	
	<!-- 회원 정보 수정 -->
	
</mapper>